// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------



html {
  box-sizing: border-box;

  color: $color-font-base;
  font-family: $primary-font;
  font-size: 100%;

  @include breakpoint($desktop-small) {
    font-size: 90%;
  }
}

*, *::before, *::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {

  &:hover {
  }
}

.container {
  @include container;
  width: 100%;
  padding-left: em(20px);
  padding-right: em(20px);
  
  @include breakpoint($big-desktop) {
    max-width: 90%;
  }
}
