.cards-list {
  min-height: 300px;

  &__img-wrap {
    width: em(223px);
    min-width: em(223px);
    height: em(310px);
  }

  &__item {
    margin-bottom: em(40px);
    cursor: pointer;

    &--grid {
      @include span(3);

      &:nth-child(4n) {
        @include span(3 last);
      }

      &:nth-child(4n+1) {
        clear: both;
      }
    } 
  }

  &__img {
    width: 100%;
  }

  &__header {
    margin: em(10px) 0;
  }

  &__name {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
  }

  &__type {
    font-size: rem(14px);
    font-weight: 500;    
  }

  &__set-rarity {
    color: $color-dark-lighter;
    font-size: rem(14px);
  }

  &__attribute-mana {
    width: em(17px);
    margin-left: em(3px);
    display: inline-block;
    vertical-align: bottom;
  }

  &__mana-total {
    display: inline-block;
    vertical-align: bottom;

    color: $color-dark-lighter;
    font-size: rem(15px);
  }

  &__text {
    font-size: rem(15px);

    &:not(:last-child) {
      margin-bottom: em(7px, 15px);
    }
  }

  &__text-label {
    padding-right: 15px;
    font-weight: 500;
  }

  &__attribute {
    width: em(17px);
    margin-right: 1px;
    vertical-align: bottom;
  }

  /* list template */
  &__item--list {
    @include span(12);
    @include flex-center;
    
    & .cards-list {
      &__header {
        margin-top: 0;
      }

      &__img-wrap {
        width: em(130px);
        min-width: em(130px);
        height: em(183px);
      }        
    }
  }

  &__body {
    flex: 1;
    margin-left: em(40px);
    color: idiot;

    &__item--list & {
      color: red;
    }
  }
}

