.list-options {
  margin: em(30px) 0;

  &__container {
    @include flex-center;

    padding-top: em(10px);
    padding-bottom: em(10px);

    background: $color-lighter;
  }

  &__item-sort {
    margin-right: auto;
  }

  &__item-show {
    margin-right: em(20px);
  }
  
  &__select {
    padding: em(2px) em(5px);
    font-size: rem(15px);
  }

  &__label {
    margin-right: em(13px);

    font-weight: 500;
  }
}

.list-grid {
  @extend %reset-list;

  &__item {
    display: inline-block;
    vertical-align: middle;
  }

  &__btn {
    @extend %reset-btn;

    padding: 0 em(4px);
  }

  &__icon {
    color: $color-dark-lighter;
    font-size: rem(16px);

    &:hover,
    .list-grid__btn--is-active &
     {
      color: $color-dark;
    }
  }
}
