.search {
  text-align: center;

  &__form {
    background: $color-lighter;
    display: inline-block;
    padding: em(25px) em(30px);
  }

  &__input-name {
    width: em(576px);
  }

  &__name {
      margin-right: em(18px, 19px);
      vertical-align: middle;

      font-size: rem(19px);
      font-weight: 500;

      &--compare {
        margin: 0 em(7px);
      }
  }

  &__section {
    @include flex-center;

    &:not(:last-child) {
      padding-bottom: em(22px);
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: em(24px);
    }

    &--card,
    &--colors {
      @include flex-center;
    }

    &--extend {
      flex: 1;
    }
  }

  &__check-wrap {
    @include flex-center;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__advanced {
    display: none;

    padding-top: em(22px);
    border-top: 1px solid $color-border-light;

    &--is-active {
      display: block;
    }
  }
}

.js__search-element--is-disabled {
  pointer-events: none;
  opacity: .6;
}
