.search {
  text-align: center;

  &__form {
    background: $color-lighter;
    display: inline-block;
    padding: em(25px) em(30px);
  }

  &__item {
    @include breakpoint($phone-only) {
      margin-left: 5px;
      margin-right: 5px;
    }

    @include breakpoint($xs-small-phone-only) {
      flex-wrap: wrap;
    }    
  }

  &__input-name {
    width: em(576px);
  }
 
  &__name {
      margin-right: em(18px, 19px);
      vertical-align: middle;

      font-size: rem(19px);
      font-weight: 500;

      &--compare {
        margin: 0 em(7px);
      }

      @include breakpoint($xs-small-phone-only) {
        margin: 0 0 10px;
        width: 100%;
        text-align: center;
      }      
  }

  &__section {
    @include flex-center;
    flex-wrap: wrap;

    &:not(:last-child) {
      padding-bottom: em(22px);
    }
  }

  &__item {
    @include breakpoint($phone-only-up) {
      &:not(:last-child) {
        margin-right: em(24px);
      }
    }


    @include breakpoint ($phone-only) {
      .search__advanced & {
        width: 100%;
        margin: 0 0 em(20px);
      }
    }       

    &--card,
    &--colors {
      @include flex-center;
    }

    &--extend {
      width: 100%; 

      @include breakpoint($phone-only-up) {
        flex: 1;
      }

      @include breakpoint($phone-only) {
        margin-bottom: 15px;
      }
    }

    &--card {
      @include breakpoint($desktop-small) {
        margin-bottom: em(15px);
      }
    }
  }

  &__check-wrap {
    @include flex-center;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__advanced {
    display: none;

    padding-top: em(22px);
    border-top: 1px solid $color-border-light;

    &--is-active {
      display: block;
    } 
  }

  &__advanced-select  {
    @include breakpoint($phone-only) {
      width: 100%;
    }

    @include breakpoint($desktop-small) {
      margin-bottom: em(15px);
    }
  }
}

.js__search-element--is-disabled {
  pointer-events: none;
  opacity: .6;
}
