.f-check {
  margin-right: em(7px);
}

.f-input {
  height: rem($input-height);
  border: 1px solid $color-border-light;
  padding: 0 em(15px); 
  vertical-align: middle;

  &--full {
    width: 100%;
  }

  &--short {
    width: 60px;
    padding: 0 0 0 5px;    
  }
}

.f-select {
  background: #fff;
  border: 1px solid $color-border-light;
  height: rem($input-height);
  padding: 0 em(3px);
  vertical-align: middle;

  font-size: rem(15px);
}
